*{
    font-family: 'Nunito', 'serif', 'Times New Roman', 'Times';
    
}

.preload {
    width: 100%;
    margin-bottom: 1000px;
    
}

.preload-finish{
    height: 0vw;
    margin-bottom: 0px;
}

.scroll-on{
    overflow: visible;
    background-color: #D1DAE8;
}

nav{
    background: rgb(25,47,53);
    background: linear-gradient(135deg, rgba(25,47,53,1) 0%, rgba(47,79,88,1) 100%);
    width: 100%;
}
.nav__ul {
    width: 100%;
    margin: center;
    text-align: center;
}

.nav__li1, .nav__li2, .nav__li3{
    display: inline-block;
    padding: 9px;
    color: #f1f1f6;
}

.nav__li1 a, .nav__li2 a, .nav__li3 a{
    color: #f1f1f6;
    text-decoration: none;
    display: inline-block;
}

body{
    /*background-color: #D1DAE8;*/
    background-color: rgba(25,47,53,1) ;
    height: 100vw;
    overflow: hidden;
}

.backgrund_lite{
    background-color: #D1DAE8;
}

h1 {
    color: #ffffff;
    font-size: 50px;
}

h2 {
    margin: 0;
    padding: 0;
    color: #192f35;
    font-size: 50px;
    
}

.fecha {
    margin: 0;
    margin-top: 1em;
    padding: 0;
    display: inline-block;
}

.subtitulo {
    margin-left: 5em;
    padding: 0;
    display: inline-block;
}

.subtitulo2 {
    margin-left: 7.5em;
    padding: 0;
    display: inline-block;
}


.contents {
    color: #192f35;
    font-size: 25px;
    margin-left: 10em;
}

.certificado {
    color: #192f35;
    font-size: 25px;
    text-decoration: none;
    padding-left: 4em;
    margin: 0.2em;
    display: block;
    position: relative;
    bottom: 5em;
    left: 5em;

}

.contactos {
    background: rgb(25,47,53);
    background: linear-gradient(135deg, rgba(25,47,53,1) 0%, rgba(47,79,88,1) 100%);
    text-align: center;
    border-radius: 1.5em;
    box-shadow: 20px 20px 30px 0 rgb(122, 122, 122) ;
}

.item-base {
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;
    border-radius: 1.5em;
    box-shadow: 20px 20px 30px 0 rgb(122, 122, 122) ;
    padding: 50px;
    margin: auto;
}

.second {
    margin-top: 50px;
}

.multi-items {
    flex-grow: 1;
    margin: auto;
    height: 40vw;
    min-height: 800px;
    min-width: 800px;
    padding: 0;
    margin: 50px;
}

.experiencia {
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;
    text-align: center;
    border-radius: 1.5em;
    box-shadow: 20px 20px 30px 0 rgb(122, 122, 122) ;
}

.skills {
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;
    border-radius: 1.5em;
    box-shadow: 20px 20px 30px 0 rgb(122, 122, 122) ;
    font-size: 1.2em;
}

.skills__li {
    margin: 2em;
}

.caja-imgudemy {
    width: 5em;
    margin: 1em;
    display: inline-block;
    margin-left: 3.5em;

}

.caja-cel {
    width: 7em;
}

.img {
    width: 10em;
    margin: 1em;   
    padding: -2em;
    display: inline-block;
    border-radius: 50em;
    border: 0.4em solid white;
} 

.icon {
    margin: 0;
    padding: 0;   
}

.btn_nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: white;
    font-style: none;
}

.btn_contact {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: white;
    font-style: none;
    font-size: 2em;
}


.cel, .cel_on, .cel_off{
    width: 20em;
    display: inline-block;
    visibility: visible;
}

.cel_hidden{
    visibility: hidden;
}


.item {
    flex-grow: 1;
    margin: auto;
    height: 40vw;
    min-height: 800px;
    min-width: 400px;
    padding: 50px;
    margin: 50px;
    
}

.flex-box {
    display: flex;
    
}



/*Resposive*/
@media only screen and  (max-width: 1000px) {
    .flex-box {
        flex-wrap: wrap;
    }
}

@media only screen and  (max-width: 700px) {
    /*Nav*/
    .nav__li1, .nav__li2, .nav__li3 {
        display: block;
        width: 100%;
       
}
    .nav {
        width: 100%;
        display: block;
        margin: center;
    }
    header {
        width: 100%;
        margin: center;
    }
    .nav__ul {
        width: 100%;
        margin: center;
    }
    .nav__li {
        width: 100%;
        margin: center;
    }
    
    /*Preload*/
    .preload {
        margin-top: 50%;
    }

    .flex-box {
        flex-wrap: wrap;
    }

    .contactos {
        height: 35em;
        width: 100vw;
        margin: 0;
        font-size: 10px;
        left: 0;
        display: block;
        margin-top: 2em;
       

    }  

    .cel, .cel_on, .cel_off{
        width: 20em;
        margin: 0;
        padding: 0;
        
        left: 20em;

    }

    .cel_on {
        margin-left: 0em;
    }

   
    .formacion{
        width: 100vw;
        bottom: 0em;
        left: 0em;
        font-size: 10px;
        margin: 0;
        padding: 0;
        display: block;
        margin-top: 5em;
        margin-top: 2em;
                       
    } 

    .cursos {
        height: 11em;
        width: 100vw; 
        margin: 0em;
        margin-left: 0em;
        display: block;
        padding: 0em;
        left: 0em;
        bottom: 0em;
        margin-top: 2em;
    }
    .certificado {
        
        font-size: 14px;
        text-decoration: none;
        padding-left: 2em;
        margin: 0.2em;
        display: block;
        position: relative;
        bottom: 4em;
        left: 5em;
    
    }

    .skills{
        height: 30em;
        width: 100vw;
        bottom: 0em;
        left: 0em;
        font-size: 14px;
        margin: 0;
        padding: 0;
        display: block;
        margin-top: 2em;
                       
    } 
    .caja-cel {
        width: 4em;
        margin: 2em;
        display: inline-block;
      
    }

    .caja-imgudemy {
        width: 3em;
        margin: 0em;
        display: inline-block;
        margin-left: 2.5em;
        margin-top: 1em;
    
    }

    .img {
        margin: 1em;   
        padding: -2em;
        display: inline-block;
        border-radius: 50em;
        border: 0.4em solid white;
    } 
    h2 {
        padding: 20px 0px 0px 20px;
        color: #192f35;
        font-size: 25px;
        
    }
    
    .fecha {
        margin: 0;
        margin-top: 1em;
        padding-left: 20px;
        display: inline-block;
    }
    
    .subtitulo {
        margin-left: 3em;
        padding: 0;
        display: inline-block;
    }
    
    .subtitulo2 {
        margin-left: 5.5em;
        padding: 0;
        display: inline-block;
    }

    .contents {
        color: #192f35;
        font-size: 15px;
        margin-left: 7em;
    }


}


